container_commands:
    00_install_composer_dependencies:
        command: "sudo php -d memory_limit=-1 /usr/bin/composer.phar install --no-dev --no-interaction --prefer-dist --optimize-autoloader"
        cwd: "/var/app/staging"

    02_run_migrations:
        command: "php artisan migrate --force"
        cwd: "/var/app/staging"
        leader_only: true

    03_run_admin_user_seeder:
        command: "php artisan db:seed --class=serviceSeeder --force"
        cwd: "/var/app/staging"
        leader_only: true

    04_run_cms_seeder:
        command: "php artisan db:seed --class=cmsSeeder --force"
        cwd: "/var/app/staging"
        leader_only: true

    05_run_brand_seeder:
        command: "php artisan db:seed --class=brandSeeder --force"
        cwd: "/var/app/staging"
        leader_only: true

    05_run_brand_seeder:
        command: "php artisan db:seed --class=testimonialSeeder --force"
        cwd: "/var/app/staging"
        leader_only: true
